<a href="https://colab.research.google.com/github/Ro706/3D-skybox/blob/main/ro706class1_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# day 1 python class
a = "RoHit" # value of 'a' is aditya
s,b,c=1,2,"rohit" #value of 's','b','c' is 1,2,"rohit"
a
print(a) #printing value 'a'
print(type(a))#printing value datatype
print(len(a))#printing lengthof the variable 'a'
print(id(a))#printing id or you can say that printing storage location of varial 'a'
print(a.upper())#printing  variable 'a' upper value
print(a.lower())#printing variable 'a' lower value
print()
list1=list(input("enter value:"))
print(list1)
print(len(list1))
for i in list1:
    print(i)
print(s,b,c)#printing multiple values
print(isinstance(a,int))
print(isinstance(b,int))
a = "rohit"
n = len(a)
print(n)

RoHit
<class 'str'>
5
140709337775664
ROHIT
rohit

enter value:12345678990
['1', '2', '3', '4', '5', '6', '7', '8', '9', '9', '0']
11
1
2
3
4
5
6
7
8
9
9
0
1 2 rohit
False
True
5

In [ ]:
#day 2 python class
x = str(3)
print(type(x))
y = int(3)
print(type(y))
y = float(3)
print(x)
print(y)
print(type(y))
c =0b100 #for binary number system
print(type(c))
print(c)
print(int("300",5))
print(int("1010",2))
print(int("12120",3))
print(int("1111111",2))
print(int("66226",7))
print(int("6622611",32))
a = 0b1010 #binary
b = 0o170 #octal
print(a,b)
h = 2+3.14j #complex literal
print(h)
print(complex(3+84))
print (u'\u00dc \n nic\n')
print('Omega: \u03A9')
name = "rohit"
classes = "12/G"
adress="sec -4 G qno-241"
print(name,classes,adress)

<class 'str'>
<class 'int'>
3
3.0
<class 'float'>
<class 'int'>
4
75
10
150
127
16582
6645946401
10 120
(2+3.14j)
(87+0j)
Ü
 nic

Omega: Ω
rohit 12/G sec -4 G qno-241

In [ ]:
#my work
num= int(input("enter any four digit number:"))
sum=0
for i in str(num):
    sum += int(i)
print (sum)

enter any four digit number:5555
20

In [ ]:
#day 3 python class
print(ord("h"))
print(chr(122))
print(int(0x00dc))
print(int(0x012dc))
a = True
b = False
print(a + 100, b+100)
str_my = "sparshm"
print(str_my [1])
print(str_my[-1])
print(str_my[1:4])
print(str_my[0:5:2])
print(str_my[5:0:-1])
print(str_my[::2])

104
z
220
4828
101 100
p
m
par
sas
hsrap
sasm

In [ ]:
#write a program to declare a string consisting  of all digits from 0-9 print all,odd,and even digits from the string
my_str = "0123456789"
print(my_str)
print(my_str[::2])#even
print(my_str[1:10:2])#odd
m_s = "sitnagpur"
print(m_s[-3:-5:-1])
print(m_s[5:2:-1])
#write a program to add two number
a = 3
b = 4
c = a+b
print(c)
#write a program to  input form user
username = str(input("please enter your name:"))
print("hello ",username)

0123456789
02468
13579
pg
gan
7
please enter your name:rohit
hello  rohit

In [ ]:
#day 4 python class
my_str="rohit mandal"
s1 = my_str.split()
s2 = my_str.split(sep = " ")
print(s1,s2)
my_str = "rohitmandal"
s1 = my_str.split(sep = "a")
print(s1)
name = input("enter your name: ")
print("hello",name)
print(type(name))
name = input("enter your name:")
print("Hello",name.upper())
print("hello ",name.title())
y,x= input("enter two naumber: ").split()
print(int(x)+int(y))
#real number and perform it multplication
real1 = float(input("enter your real number1: "))
real2 = float(input("enter your real number2: "))
print(real1*real2)
#wap to get your name as input and print ascii value
name = input("enter your name: ")
a = len(name)
print("name len =", a)
for i in range(int(a)):
    print(ord(name[i]))
print("thank you")

['rohit', 'mandal'] ['rohit', 'mandal']
['rohit', 'mandal']
enter your name: rohit
hello rohit
<class 'str'>
enter your name:rohit kumar mandal
Hello ROHIT KUMAR MANDAL
hello  Rohit Kumar Mandal
enter two naumber: 1 2
3
enter your real number1: 112
enter your real number2: 12.22
1368.64
enter your name: rohit
name len = 5
114
111
104
105
116
thank you

In [ ]:
name = input("enter your name: ")
a = len(name)
print("name len =", a)
for i in range(int(a)):
    print(ord(name[i]))
print("thank you")

enter your name: rohit
name len = 5
114
111
104
105
116
thank you

In [ ]:
ro706 = "hello rohit"
num = 100
text = "%s your marks: %d"%(ro706,num)
print(text)
morpheus7104 = "chutiya"
yu = 111
xxx = "%s is not : %d"%(morpheus7104,yu)
print(xxx)

hello rohit your marks: 100
chutiya is not : 111

In [ ]:
#home work
str_my = input("enter your name:")
print(str_my.isalpha())
print(str_my[0].isalpha())
print(str_my.isdigit())#1
print(str_my.isidentifier())#2
print(str_my.islower())#3
print(str_my.title().istitle())#4
print(str_my.istitle())#5
table = {110:97,122:98,117:None}
print(str_my.translate(table))#6
print(str_my.swapcase())#7
print(str_my.casefold())#8
print(str_my.capitalize())#9
print(str_my.endswith("mandal"))#10
print(str_my.startswith("rohit"))#11
print(str_my.zfill(7))#12
list1 =[1,2,3,4]
print(list1.index(2))#13
print(str_my.find("k"))#14
print(str_my.count("rohit"))#15
print(str_my.rfind("o"))#16
print(str_my.encode())#17
print(str_my.center(23))#18
print(str_my.center(20))#19
print(str_my.isdecimal())#20
print(str_my.isnumeric())#21

enter your name:rohit
True
True
False
True
True
True
False
rohit
ROHIT
rohit
Rohit
False
True
00rohit
1
-1
1
1
b'rohit'
         rohit
       rohit
False
False

In [ ]:
#list
list1 =list(input("enter your letter list:"))
print(list1)
print(list1[1])
n = 0
for i in list1:
    print(list1[n])
    n +=1

enter your letter list:rohit
['r', 'o', 'h', 'i', 't']
o
r
o
h
i
t

In [ ]:
for i in range(00,100,2):
    print(i)
    if i  == 28:
      print("nice")
      break
    else:
      pass

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
nice

In [ ]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
print(months[6],"\n")
print(months[6:9],"\n")
print(months[0:11:2],"\n")
print(months[-12:-1])
print(months[-12:-1])
print(months[12:1:-1])
print(months[12:5:-1])
print(months[12:3:-1])
print(months[-1:-5:-1])
print(months[-12:-8:1],"\n")
list1=list(range(-4,10,2))
print("list1=",list1)
list2 =list(range(-6,6,1))
print("list2",list2)
print(list1+list2)
print(list2 * 2)
print(list1 in list2)
print(list1 not in list2 )
n = 0
list1.append(1)
print(list1)
list1.insert(0,11) #insert(indexnumber,element name or number)
print("list1 =",list1)
l=list1.sort()
print(sorted(list1,reverse=True))

July

['July', 'August', 'September']

['January', 'March', 'May', 'July', 'September', 'November']

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November']
['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November']
['December', 'November', 'October', 'September', 'August', 'July', 'June', 'May', 'April', 'March']
['December', 'November', 'October', 'September', 'August', 'July']
['December', 'November', 'October', 'September', 'August', 'July', 'June', 'May']
['December', 'November', 'October', 'September']
['January', 'February', 'March', 'April']

list1= [-4, -2, 0, 2, 4, 6, 8]
list2 [-6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
[-4, -2, 0, 2, 4, 6, 8, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
[-6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
False
True
[-4, -2, 0, 2, 4, 6, 8, 1]
list1 = [11, -4, -2, 0, 2, 4, 6, 8, 1]
[11, 8, 6, 4, 2, 1, 0, -2, -4]

In [ ]:
#to find the sum of 5 digit number
a = []
a.append(int(input("enter number 1:")))
a.append(int(input("enter number 2:")))
a.append(int(input("enter number 3:")))
a.append(int(input("enter number 4:")))
a.append(int(input("enter number 5:")))
sum = a[0]+a[1]+a[2]+a[3]+a[4]
print("sum=",sum)

enter number 1:1
enter number 2:2
enter number 3:3
enter number 4:4
enter number 5:5
sum= 15

In [ ]:
#1)to find the sum of 5 digit number
#2)to find weather arm is or not
#1)
a = b = int(input("enter any 5 digit number:"))
b = a%10
a = a//10
b1 = a%10
a = a//10
b2 = a%10
a = a//10
b3 = a%10
a = a//10
b4 = a%10
a =  a//10
print(b,b1,b2,b3,b4)
print('sum',b+b1+b2+b3+b4)

enter any 5 digit number:12345
5 4 3 2 1
sum 15

In [ ]:
a = b = int(input("enter any 3 digit number:"))
b = a%10
a = a//10
b1 = a%10
a = a//10
b2 = a%10
print(b**3+b1**3+b2**3)
print('armstrong number')

enter any 3 digit number:153
153
armstrong number

In [ ]:
num = int(input("enter number:"))
ans = 0
digits = len(str(num))
dup_number = num
while (dup_number != 0):
    remainder = dup_number % 10
    ans = ans + remainder**digits
    dup_number = dup_number//10
if(num == ans):
    print(num, "is Armstrong number")
else:
    print(num, "is not Armstrong number")

enter number:1234
1234 is not Armstrong number

In [ ]:
#day 6 python class
list1= ["CAT","DOG","TIGER","JAK","apple"]
print(sorted(list1,key=str.lower))
list1 =[[1,2,3,4],["rohit","riya","raj","khushi"],[36,37,32,33]]
print(list1)
print("list1 =",list1[0],"list2=",list1[1],"list3=",list1[2])
print(list1[0:3][0:3])
#tuple
t =(1,2,3,4,"three")
print(t)
print(type(t))
t = (1,2,3,4,5)
a,b,c,d,e = t
print(a,b,c,d)
for i in t:
    print(i)
del t
print("tuple is deleted successfully")
t = ("21-06-2004",["rohit","sager"])
r = ("21-06-2004",["rohit","sager"])
print(r == t)
print(id(r),id(t))
print(t is r)
t = r
print(r == t)
print(id(r),id(t))
print(t is r)
list1 = t[1]
list1.append("ro706")
print(t)
'''t[1]=[1,2,3]
print(t)'''
set1 = {1,2,3,4}
print(set1)
set1.add(0)
set1.update([10,11,12,13])
print(set1)
set1.pop()
#set1.clear()
print(set1)
set1.remove(10)
print(set1)
set1.discard(0)
set2 = {1,2,3,0,10}
print(set2)

['apple', 'CAT', 'DOG', 'JAK', 'TIGER']
[[1, 2, 3, 4], ['rohit', 'riya', 'raj', 'khushi'], [36, 37, 32, 33]]
list1 = [1, 2, 3, 4] list2= ['rohit', 'riya', 'raj', 'khushi'] list3= [36, 37, 32, 33]
[[1, 2, 3, 4], ['rohit', 'riya', 'raj', 'khushi'], [36, 37, 32, 33]]
(1, 2, 3, 4, 'three')
<class 'tuple'>
1 2 3 4
1
2
3
4
5
tuple is deleted successfully
True
140707458691872 140707458437760
False
True
140707458691872 140707458691872
True
('21-06-2004', ['rohit', 'sager', 'ro706'])
{1, 2, 3, 4}
{0, 1, 2, 3, 4, 10, 11, 12, 13}
{1, 2, 3, 4, 10, 11, 12, 13}
{1, 2, 3, 4, 11, 12, 13}

In [ ]:
set1 = {1,2,3,4}
a= (1.0,(1,2,3),"hello")
set2=a
print(set1)
print(set2)

{1, 2, 3, 4}
(1.0, (1, 2, 3), 'hello')

In [ ]:
t1 = ()
t2 = (1,2,3)
t3 = (1,"hello",34)
print(t1)
print(t2)
print(t3)

()
(1, 2, 3)
(1, 'hello', 34)

In [ ]:
t1 = (3,46,"cat")
print(t1)
print(t1[0])
print(t1[1])
print(t1[2])

(3, 46, 'cat')
3
46
cat

In [ ]:
tuple1 = (0,1,2,3)
tuple2 = ("SIT","Nagpur")
tuple3 = tuple1 + tuple2
print("tuple1 \n",tuple1)
print("tuple2 \n",tuple2)
print("tuple after concetnation \n",tuple3)

tuple1
 (0, 1, 2, 3)
tuple2
 ('SIT', 'Nagpur')
tuple after concetnation
 (0, 1, 2, 3, 'SIT', 'Nagpur')

In [ ]:
classroll = {"rohit":7,"aditya":24,"nishant":61,"anmol":23,"devanshu":22}
print(classroll)
classroll['rohit']=75
classroll['aditya'] = 92
classroll["nishant"]=125
classroll['anmol'] = 91
classroll['devanshu'] = 90
print(classroll)
print(classroll.keys())
print(classroll.values())
print(type(classroll))
print(1,2,3,4)
print(1,2,3,4, sep ="#" ,end="$")
print(1,2,3,4, sep =' ',end ="\n")
print(1,2,3,4, sep ="@",end="$",flush = True)
print("")
print("     *","    * *","   * * *","  * * * *",sep ="\n",end ="")

{'rohit': 7, 'aditya': 24, 'nishant': 61, 'anmol': 23, 'devanshu': 22}
{'rohit': 75, 'aditya': 92, 'nishant': 125, 'anmol': 91, 'devanshu': 90}
dict_keys(['rohit', 'aditya', 'nishant', 'anmol', 'devanshu'])
dict_values([75, 92, 125, 91, 90])
<class 'dict'>
1 2 3 4
1#2#3#4$1 2 3 4
1@2@3@4$
     *
    * *
   * * *
  * * * *

In [ ]:
#python class 8
x = 23
y = 82
print("two value are {1} and {0}".format(x,y))
print(f"two value are {x} and {y}")
'''
arithmatic oprators : +,-,/,*,%,//,**[BODMAS]
comparison oprators : <,>,==,,!=,>=,<=
logical oprators : and ,or,not
bitwise oprator : !,&,~,^,>>,<<
'''
print(5<<3)
print(10 >> 2)
print(5&6)
letter = input('enter character:')
print('vowel') if letter in 'aeiou'else print('no vowel')

two value are 82 and 23
two value are 23 and 82
40
2
4
enter character:a
vowel

In [ ]:
#wap to check weather enter number is even or odd by using bitwise
num = int(input("enter num:"))
print('odd') if num&1== 1 else print("even")
#wap to fine the largest of two number

enter num:2
even

In [ ]:
num1 = int(input("enter num1:"))
num2 =int(input("enter num2"))
print("num1 is greater than num2") if num1 > num2 else print("num2 is graeter than num2")

enter num1:1
enter num22
num2 is graeter than num2

In [ ]:
num1 = int(input("enter num1:"))
num2 =int(input("enter num2:"))
num3 = int(input("enter num3:"))
a = 0
print("num1") if num1 > num2 or num1 > num3 else print("num3")

enter num1:10
enter num2:3
enter num3:5
num1

In [ ]:
num1 = int(input("enter num1:"))
num2 =int(input("enter num2:"))
num3 = int(input("enter num3:"))
a = num1 if num1 > num2 else num2
a = a if a > num3 else num3
print(a)

enter num1:1
enter num2:4
enter num3:2
4

In [ ]:
#wap to create list of 3 friend.check if amit is present in the list or not if amit is not in the list append/add amit in the list
friend = ["rohit","riya","aditya","nishant","aryan"]
print("add amit",friend.append('amit')) if "amit" not in friend else print('list',friend)
print(friend)

add amit None
['rohit', 'riya', 'aditya', 'nishant', 'aryan', 'amit']

In [ ]:
a = "rohit mandal"
print(a.title())
print(id(a))
a = ["r","o","s","i"]
print(len(a))

Rohit Mandal
140399806527408
4

In [ ]:
a = (1,"hey",3.4)
print(a)

(1, 'hey', 3.4)

In [ ]:
print("rohit \n riya")

rohit
 riya

In [ ]:
num=input("enter num(only 3 dig):")
total = int(num[0])+int(num[1])+int(num[2])
print(total)

enter num(only 3 dig):222
6

In [ ]:
name ="rohit"
print(name[5:0:-1])

tiho

In [ ]:
num = int(input("enter:"))
print("even") if num%2 == 0 else  print("odd")

enter:4
even

In [ ]:
#python class 9
print("5 != 4:",5 != 4)
print("6 == 6:",6 == 6)
print("8 <= 10:",8 <= 10)
print("10 >= 9:",10 >= 9)
print("19 >=100:",19 >=100)
a = 11
b = 2
c = 10
print((a>b) and (a > c))
print((a<c)and (c<b))
print((a<c) or (c<b))
v=((a<c) or (c<b))
print(not v )
v =((a<c)and (c<b))
print(not v)
print(1 << 6)
a += 10
print(a)
a-=10
print(a)
a **= 12
print(a)
a /= 6
print(a)
print(a is b)
print(a is c)
print(a is not b)
print(a is not c)
a = ["amit","riya","rohit"]
b = 'rohit'
print(b in a)

5 != 4: True
6 == 6: True
8 <= 10: True
10 >= 9: True
19 >=100: False
True
False
False
True
True
64
21
11
3138428376721
523071396120.1667
False
False
True
True
True

In [ ]:
import random as rd
a = [1,2,3,4,5]
num = (rd.randint(1,3))
print(rd.choice(a))
if num == 1:
  print("only 1 player can play")
elif num == 2:
  print("only 2 player can play")
else :
  print("only 3 player can play")
for i in range(1,10):#n-1
  print('rohit')
  print(i)
while True:
  print("rohit mandal")
  num = rd.randint(1,2)
  if num == 2

2
only 1 player can play
rohit
1
rohit
2
rohit
3
rohit
4
rohit
5
rohit
6
rohit
7
rohit
8
rohit
9

In [ ]:
print("sit nagpur \n"*100)

sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur
sit nagpur

In [ ]:
a = int(input("enter a number1:"))
b = int(input("enter a number2:"))
c = int(input("enter a number3:"))
if a > b:
  print(a,"is greatest then",b)
if a > c:
  print(a,"is greatest then",c)
if b > a :
  print(b,"is greatest then",a)
if b > c:
  print(b ,"is greatest then",c)
if c > a:
  print(c,"is greatest then",a)
if c > b:
  print(c,"is greatest then",b)

enter a number1:1
enter a number2:107239
enter a number3:2073164646196
107239 is greatest then 1
2073164646196 is greatest then 1
2073164646196 is greatest then 107239

In [ ]:
import random
list1=["rock","paper","scissor"]
user = str(input("enter your choice [rock,paper,scissor]"))
computer = list1[random.randint(0,3)]
print("computer choice",computer)
if user  == computer:
  print("tie")
elif user == "rock":
     if computer == "paper":
       print("you win")
     else:
       print("you loose")
elif user == "paper":
     if computer == "scissor":
       print("you loose")
     else:
       print("you win")
elif user == "scissor":
     if computer =="paper":
       print("you win")
     else :
       print("you loose")
else:
    print("error")

enter your choice [rock,paper,scissor]rock
computer choice paper
you win

In [ ]:
import random
list1=["rock","paper","scissor"]
user = str(input("enter your choice [rock,paper,scissor]"))
computer = list1[random.randint(0,3)]
print("computer choice",computer)
if user  == computer:
  print("tie")
if user == "rock":
     if computer == "scissor":
       print("you win")
     if computer == "paper":
       print("you loose")
if user == "paper":
     if computer == "scissor":
       print("you loose")
     if computer == "rock":
       print("you win")
if user == "scissor":
     if computer =="paper":
       print("you win")
     if computer == "rock" :
       print("you loose")

enter your choice [rock,paper,scissor]paper
computer choice paper
tie

In [ ]:
num = float(input("enter you num:"))
if num%2 == 0:
  print("even")
if num%2 == 1:
  print("odd")
num = float(input("enter you num:"))
if num > 0:
  print('postive')
if num < 0:
  print('negative')
if num == 0:
  print(num)

enter you num:-271937
odd
enter you num:-7391278
negative

In [ ]:
#wap to get two number form input from user perform addition if the sec num is multiple of first other wise perform substracion
num1 = int(input("enter your number1:"))
num2 = int(input("enter your number2:"))

if num1%num2 == 0:
  print(num1+num2)
if num2%num1 != 0:
  print(num1*num2)

enter your number1:123
enter your number2:12
1476

In [ ]:
animal_list = ["cat","rat","tiger","python"]
if "lion" in animal_list:
  print("already there sir")
else:
  animal_list.append("lion")
  print("done sir")

print(animal_list)

done sir
['cat', 'rat', 'tiger', 'python', 'lion']

In [ ]:
#wap to find wether a number is even or odd using if else
num = float(input("enter number:"))
if num%2 == 0:
  print("even")
else:
  print('odd')

enter number:122
even

In [ ]:
#wap to check weather a num enter by user is greater then 30 or equal to 30 greater then 30
num = int(input("enter a number:"))
if num <= 30:
  if num == 30 :
      print("num is equal to 30")
  else:
      print("num is smaller then 30")
else :
  print("num is greater then 30")

enter a number:56
num is greater then 30

In [ ]:
num = int(input("enter your num:"))
if num < 30:
    print("num is smaller then 30")
elif num == 30 :
    print("num is equal to 30")
else :
    print("num is greater then 30")

enter your num:56
num is greater then 30

In [ ]:
#wap to print grade of students base on the percentage sports if 90 up A+ if 80-90 A 70-80 b+ 70-60 b 60-50 c+ 40-50 c less then 40 fail
name = str(input("enter your name:"))
num = int(input("enter your marks:"))
if num > 90 and num <= 100 :
    print(f"cong {name} you got A+")
elif num >= 80 and num <= 90 :
    print(f"cong {name} you got A")
elif num >= 70 and num <= 79 :
    print(f"cong {name} you got B+")
elif num >= 60 and num <= 69:
    print(f"cong {name} you got B")
elif num >= 50 and num <= 59:
    print(f"cong {name} you got c+")
elif num >= 40 and num <= 49:
    print(f"cong {name} you got c")
elif num < 40 :
    print(f"sorry {name} you have failed")
else:
    print("invalid input")

enter your name:rohit
enter your marks:100
cong rohit you got A+

In [ ]:
for i in range(10):
   print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
num = int(input("enter you number"))
for i in range(1,11):
    print(f"{num}*{i} =",i*num)

enter you number6
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
6*10 = 60

In [ ]:
for i in range(1,101):
  print("symbiosis institute of technology ,nagpur")

symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur
symbiosis institute of technology ,nagpur

In [ ]:
friend =["aditya","nishant","aryan","prathm","rohit"]
for i in friend:
     print(i,"number of character",len(i))

aditya number of character 6
nishant number of character 7
aryan number of character 5
prathm number of character 6
rohit number of character 5

In [ ]:
bear = {"grizzly":"angry","brown":"friendly","polar":"friendly"}
for bears in bear:
    if bear[bears] == "friendly":
      print("hello ",bears,"bear")
    else:
      print("bad bear")

bad bear
hello  brown bear
hello  polar bear

In [ ]:
#wap to print all prime num within a give range
num1 = int(input("enter your stop timeing:"))
num2 = int(input("enter your stop timeing:"))
a = 1
for i in range(num1,num2+1):
    if i == 2:
        print ("2 is prime number")
    elif i == 1:
        print ("1 is prime number")
    elif i == 3:
        print ("3 is prime number")
    elif i == 5:
        print("5 is prime number")
    elif i == 7:
        print("7 is prime number")
    else:
        if i%2 == 0:
            a += 1
        elif i%3 == 0:
            a += 1
        elif i%5 == 0:
            a += 1
        elif i%7 == 0:
            a += 1
        else:
            print (i,"is prime number")
print ("none prime number =",a)

enter your stop timeing:31
enter your stop timeing:41
31 is prime number
37 is prime number
41 is prime number
none prime number = 9

In [ ]:
a = int(input("start:"))
b =int(input("stop:"))
for i in range(a,b+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

start:1
stop:20
1
2
3
5
7
11
13
17
19

In [ ]:
#odd even number

99999999999999999999999999999999999999999999999999999999999999999999969999999999999999999999999999999999999999999999999999996999999999999999999999999999999999999999969999999999999999999999999999999999999996
even number

In [ ]:
n =1
for i in range(5):
  print("* "*n)
  n +=1

*
* *
* * *
* * * *
* * * * *

In [ ]:
n = int(input("user input"))
for i in range(n,0,-1):
  print("* "*n)
  n-=1

user input5
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = 1
m = 0
apl=["A","B","C","D"]
for i in range(4,0,-1):
  print(f"{apl[m]} "*n)
  m += 1
  n += 1

A
B B
C C C
D D D D

In [ ]:
n = int(input("Enter the number of rows: "))
m = (2 * n) - 2
for i in range(0, n):
    for j in range(0, m):
        print(end=" ")
    m = m - 1
    for j in range(0, i + 1):
        print( "* ", end=' ')
    print(" ")

Enter the number of rows: 5
        *
       *  *
      *  *  *
     *  *  *  *
    *  *  *  *  *

In [ ]:
n = int(input("Enter the number of rows: "))
apl =["a","b","c","d"]
m = (2 * n) - 2
for i in range(0, n):
    for j in range(0, m):
        print(end=" ")
    m = m - 1
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

Enter the number of rows: 5
        *
       * *
      * * *
     * * * *
    * * * * *

In [ ]:
#while luop
#wap to find sum of digits of a number given by user
num = int(input())
sum =0
while (num > 0):
    digit = num % 10
    sum += digit
    num = num//10
print(sum)

44
8

In [ ]:
num = str(input())
sum =0
for i in num:
  sum += int(i)
print(sum)

145
10

In [ ]:
n = int(input())
numB,z =n,0
count =0
while (n != 0):
  count +=1
  n = n//10
  z += 1
sum1,k= 0,numB
while (numB != 0):
  sum1 += pow(numB%10,count)
  numB = numB//10
if sum1==k:
  print("arm")
else:
  print("not arm")

125
not arm

In [ ]:
p = int(input())
z = 0
while (p > 0):
    p = p//10
    z +=1 # z +=1
print(z)

4545
4

In [ ]:
for i in range(1,100):
  print("hello wrold")
  if i == 20:
    pass
  elif i ==50:
    print("go")
    continue
    print("do not go")
  elif i == 99:
    break
  else:
    print(i)

hello wrold
1
hello wrold
2
hello wrold
3
hello wrold
4
hello wrold
5
hello wrold
6
hello wrold
7
hello wrold
8
hello wrold
9
hello wrold
10
hello wrold
11
hello wrold
12
hello wrold
13
hello wrold
14
hello wrold
15
hello wrold
16
hello wrold
17
hello wrold
18
hello wrold
19
hello wrold
hello wrold
21
hello wrold
22
hello wrold
23
hello wrold
24
hello wrold
25
hello wrold
26
hello wrold
27
hello wrold
28
hello wrold
29
hello wrold
30
hello wrold
31
hello wrold
32
hello wrold
33
hello wrold
34
hello wrold
35
hello wrold
36
hello wrold
37
hello wrold
38
hello wrold
39
hello wrold
40
hello wrold
41
hello wrold
42
hello wrold
43
hello wrold
44
hello wrold
45
hello wrold
46
hello wrold
47
hello wrold
48
hello wrold
49
hello wrold
go
hello wrold
51
hello wrold
52
hello wrold
53
hello wrold
54
hello wrold
55
hello wrold
56
hello wrold
57
hello wrold
58
hello wrold
59
hello wrold
60
hello wrold
61
hello wrold
62
hello wrold
63
hello wrold
64
hello wrold
65
hello wrold
66
hello wrold
67
hello wrold
68
hello wrold
69
hello wrold
70
hello wrold
71
hello wrold
72
hello wrold
73
hello wrold
74
hello wrold
75
hello wrold
76
hello wrold
77
hello wrold
78
hello wrold
79
hello wrold
80
hello wrold
81
hello wrold
82
hello wrold
83
hello wrold
84
hello wrold
85
hello wrold
86
hello wrold
87
hello wrold
88
hello wrold
89
hello wrold
90
hello wrold
91
hello wrold
92
hello wrold
93
hello wrold
94
hello wrold
95
hello wrold
96
hello wrold
97
hello wrold
98
hello wrold

In [ ]:
#home work
ranges = int(input())
for i in range(ranges):
    n = int(input())
    numB,z =n,0
    count =0
    while (n != 0):
      count +=1
      n = n//10
      z += 1
    sum1,k= 0,numB
    while (numB != 0):
      sum1 += pow(numB%10,count)
      numB = numB//10
    if sum1==k:
      print("arm")
    else:
      print("not arm")

2
317
not arm
153
arm

In [ ]:
num_start = int(input())
num_stop =int(input())
sum = num_start
n1,n2 =num_start,num_start+1
print("==============x===========")
for i in range(num_start,num_stop):
    print(sum )
    n1=n2
    n2=sum
    sum = n1+n2

45
50
==============x===========
45
91
136
227
363

In [ ]:
def add(x,y):
  '''add function'''
  return x + y

def power(x):
  #power function
  return x**2 , x**3

def aryan():
   for i in range(1,10):
     print()
def sumofdigit(num):
  sum =0
  while (num!=0):
    sum = sum + num%10
    num = num//10
  print(sum)
if __name__=="__main__":
  num = int(input("enter num:"))
  sumofdigit(num)

enter num:4464464
32

In [ ]:
def grade(name,num):
  if num > 90 and num <= 100 :
     print(f"cong {name} you got A+")
  elif num >= 80 and num <= 90 :
      print(f"cong {name} you got A")
  elif num >= 70 and num <= 79 :
     print(f"cong {name} you got B+")
  elif num >= 60 and num <= 69:
      print(f"cong {name} you got B")
  elif num >= 50 and num <= 59:
      print(f"cong {name} you got c+")
  elif num >= 40 and num <= 49:
      print(f"cong {name} you got c")
  elif num < 40 :
      print(f"sorry {name} you have failed")
  else:
     print("invalid input")
if __name__=="__main__":
  num = int(input("enter your marks:"))
  name = str(input("enter your name:"))
  grade(name,num)

enter your marks:40
enter your name:aryan
cong aryan you got c

In [ ]:
help(add)
add.__doc__

Help on function add in module __main__:

add(x, y)
    add function

In [ ]:
def fibb(stop):
   num_start = 0
   num_stop = stop
   sum = num_start
   n1,n2 =num_start,num_start+1
   for i in range(num_start,num_stop):
       print(sum )
       n1=n2
       n2=sum
       sum = n1+n2

if __name__=="__main__":
    stop = int(input("enter range:"))
    fibb(stop)

enter range:10
0
1
1
2
3
5
8
13
21
34

In [ ]:
def fibb(stop):
   num= stop
   sum = 0
   n1,n2 =0,1
   while num > sum:
       print(sum )
       n1=n2
       n2=sum
       sum = n1+n2

if __name__=="__main__":
    stop = int(input("enter range:"))
    fibb(stop)

enter range:45
0
1
1
2
3
5
8
13
21
34

In [ ]:
def fibbo(n):
  a,b =0,1
  while a < n:
    print(a,end=" ")
    a,b =b,a+b
fibbo(10)

0 1 1 2 3 5 8

In [ ]:
def f():
  y = 5
  print(f'inside function y is :{y} & id :{id(y)} ')
  x = 5
  print(f'inside function y is :{x} & id :{id(x)} ')
f()
y

inside function y is :5 & id :11126816
inside function y is :5 & id :11126816
inside function y is :10 & id :11126976
inside function y is :5 & id :11126816

In [ ]:
def f(x):
  x = ["nagpur","pune","mumbai","nasik"]
city_list = ["nagpur","pune","mumbai","nasik"]
print(f"pro outside function city_list is:{city_list} and is:{id(city_list)}")
f(city_list)
print(f"outside function city_list is :{city_list} and id:{id(city_list)}")

pro outside function city_list is:['nagpur', 'pune', 'mumbai', 'nasik'] and is:139735626963456
outside function city_list is :['nagpur', 'pune', 'mumbai', 'nasik'] and id:139735626963456

In [ ]:
# wap to reverse
def rev(n):
  x =0
  while n!=0:
    x =x*10+n%10
    n = n//10
  print(x)

#wap to create a function that insert an element of list at aparticular position
x = []
def  ins():
   x.insert(0,1)
   x.insert(5,5)
   x.insert(2,3)
   print(x)
x = [29,36,63,255,990]
print(x)
print("update")
u = [1,2,3,34,57,45,646,8293]
def new():
    print(u)
    user = "y"
    while user != "n":
      a= int(input("enter position:"))
      b=int(input("enter element:"))
      u.insert(a-1,b)
      user = str(input("do you want to continue(y,n):"))
    print(u)

 #if we use default argument it will follow by non defult argument
def p(x=1,y=1,z=1):
    return ( x ** y **z)
print(p(1))
print(p(11,3))
print(p(2,2,3))

i=5
print(f'The argument outside before function is {i}')
def f(arg=i):
  print(f'The argument is {arg} & {id(arg)}')

  i=6
  f(6)
  f()
  print(f'The argument outside after function is {i} & {id(i)}')
def f(a = 1,l=[]):
  l.append(a)
  print(id(l),end=":")
  print( l, end="\n" )
f()
f(2)
f(3)

[29, 36, 63, 255, 990]
update
1
1331
256
The argument outside before function is 5
139735627402496:[1]
139735627402496:[1, 2]
139735627402496:[1, 2, 3]

In [ ]:
#Write a program using functions. Find function x & do not take any parameter as inout but creates a list of 5 friends. The function checks if the friend is present in the list or not.
#It does nothing otherwise append the friend name in the list.
def x():
  l = ["rohit","nishant","aditya","aryan","shreya"]
  for i in l:
    if i == "riya":
      continue
    else:
      break
  l.append("riya")
  print(l)
x()

['rohit', 'nishant', 'aditya', 'aryan', 'shreya', 'riya']

In [ ]:
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
no_punct = ""
my_str = str(input("enter string value:"))
for i in my_str:
   if i not in punctuations:
       no_punct = no_punct + i
print(no_punct)

enter string value:hello world : my self , rohit
hello world  my self  rohit

In [ ]:
def student(name ,classs= "12",roll= "23"):
    print("your name is ",name)
    print("class :",classs)
    print("roll:",roll)
student(name = "shreya rohit mandal ",roll = "29", classs="11")

your name is  shreya rohit mandal
class : 11
roll: 29

In [ ]:
#9/12/22
x = lambda a:a+10
print(x(5))
y = lambda b:b+12
print(y(7))

15
19

In [ ]:
list_number = [2,3,4,5,6,7]
odd_count = list(filter(lambda x: (x%2 != 0) , list_number))
even_count = list(filter(lambda x: (x%2 == 0) , list_number))
print("Even numbers: ", even_count)
print("Odd numbers : ", odd_count)

Even numbers:  [2, 4, 6]
Odd numbers :  [3, 5, 7]

In [ ]:
m  = (lambda x:
      (x % 2 and "odd" or "ever"))(3)
print(m)

odd

In [ ]:
print((lambda x,y,z: x+y+z)(1,2,3))
print((lambda x,y,z = 3:x+y+z)(1,2))
print((lambda x,y,z=3:x+y+z)(1,y=2))
print((lambda *args: sum(args))(1,2,3))
print((lambda **kwargs: sum(kwargs.values()))(one=1,two=2,three=3))
print((lambda x,*,y=0,z =0:x+y+z)(1,y=2,z=3))

6
6
6
6
6
6

In [ ]:
#write a program to 5 number as a input at oncce to print factorial of each number using map function
def fac():
     a =  list(map(int,input().split()))
     n = 0
     product = 1
     for j in a:
         for i in range(a[n],0,-1):
             product *=i
         print("factorial of ",a[n],"=",product)
         n += 1
fac()

1 2 3 4 5
factorial of  1 = 1
factorial of  2 = 2
factorial of  3 = 12
factorial of  4 = 288
factorial of  5 = 34560

In [ ]:
import math
def fac():
  a = list(map(int,input().split()))
  pst = list(map(math.factorial,a))
  print(pst)
if __name__=="__main__":
  fac()

1 2 3 4 5
[1, 2, 6, 24, 120]

In [ ]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [ ]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
%%writefile cal.py
def add(x,y):
   '''this function is use to add two number '''
    return x+y
def sub(x,y):
    '''this function is use to sub two number '''
    return x-y
def mul(x,y):
    '''this function is use to mul two number '''
    return x*y
def div(x,y):
    '''this function is use to div two number '''
    return x/y
if __name__=="__main__":
  '''this is a cal function
      you can perform
      add() -- addition
      sub()  --substracion
      mul() --multplication
      div() --division '''

Overwriting cal.py

In [ ]:
import cal
print(cal.add(1,2))

3

In [ ]:
import cal
help(cal)

Help on module cal:

NAME
    cal

FUNCTIONS
    add(x, y)

    div(x, y)

    mul(x, y)

    sub(x, y)

FILE
    /content/cal.py

In [ ]:
''' create a python module all the function create by you'''

' create a python module all the function create by you'

In [ ]:
#PYTHON CLASS

The __init__() Function
The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is

In [ ]:
class students:
    college= "sit"
    def __init__(self):
      self.sem = "I"
      self.strength = 66
      self.section = "c"
    def Branch(self):
      print("This is CSE"+self.sem+"semester")

rohit = students()
rohit.section

'c'

The __str__() Function
The __str__() function controls what should be returned when the class object is represented as a string.

If the __str__() function is not set, the string representation of the object is returned:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x7f8f713b3a90>

INHERITANCE:
it is a feature or a process in which ,new classes are created form the existing classes.

In [ ]:
class student:
    domain = "btech"
    def display(self):
      print("the domain is:",self.domain)
students = student()

In [ ]:
students.display()

the domain is: btech

In [ ]:
class siustudent:
  domain = "btech"
  def __init__(self,section,prn):
    self.section = section
    self.prn = prn
  def displays(self):
    print("the department :",self.domain)
    print("your section is :",self.section)
    print("your prn is :",self.prn)
rohit = siustudent("c",75)
rohit.displays()

the department : btech
your section is : c
your prn is : 75

In [ ]:
class siustudents(siustudent):
    qualification = "btech"
    def __init__(self,class_number):
      self.branch = "cse"
      self.class_number  = class_number
    def display(self):
      print("the qualification :",self.qualification)
      print("branch is :",self.branch)
      print("class room",self.room_number)
student =siustudents(103)

In [ ]:
student.display()

the qualification : btech
branch is : cse

AttributeError: ignored

recursion:
function call itself

In [ ]:
def fun(n):
  if n == 1:
    return 1
  else:
    return 2+fun(n-1)
if __name__=="__main__":
    print(fun(4))

7

In [ ]:
def fact(n):
  if n == 1:
    return 1
  else:
    return n*fact(n-1)
fact(5)

120

In [ ]:
#write a program to find sum of digit of user given number using recursion
def sumofdigit(n):
   if n == 0:
      return 0
   else:
      return n%10 + sumofdigit(n//10)

sumofdigit(192012903710237014790)

68

In [ ]:
def sumofdigit(n):
  print(0) if n == 0 else print(n%10 + sumofdigit(n//10))
sumofdigit(10)

In [ ]:
#wap to create a class animal number of eyes ,leg , tail,and bhaivour ..subclass bird to over write the categare

In [ ]:
class animal:
     def __init__(self,neye,nleg,ntail,behaviour):

In [ ]:
%%writefile fibo.py

def fibb(n):
   a,b =0,1
   while a < n:
      print(a,end=" ")
      a,b =b,a+b
if __name__=="__main__":
    stop = int(input("enter range:"))
    fibb(stop)

Overwriting fibo.py

In [ ]:
import fibo
fibo.fibb(10)

0
1
1
2
3
5
8
13
21
34