<a href="https://colab.research.google.com/github/Ro706/3D-skybox/blob/main/ro706class1_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# day 1 python class
a = "RoHit" # value of 'a' is aditya
s,b,c=1,2,"rohit" #value of 's','b','c' is 1,2,"rohit"
a
print(a) #printing value 'a'
print(type(a))#printing value datatype
print(len(a))#printing lengthof the variable 'a'
print(id(a))#printing id or you can say that printing storage location of varial 'a'
print(a.upper())#printing  variable 'a' upper value
print(a.lower())#printing variable 'a' lower value
print()
list1=list(input("enter value:"))
print(list1)
print(len(list1))
for i in list1:
    print(i)
print(s,b,c)#printing multiple values
print(isinstance(a,int))
print(isinstance(b,int))

RoHit
<class 'str'>
5
139944579247792
ROHIT
rohit

enter value:rohit
['r', 'o', 'h', 'i', 't']
5
r
o
h
i
t
1 2 rohit
False
True

In [ ]:
#day 2 python class
x = str(3)
print(type(x))
print(type(y))
y = float(3)
print(x)
print(y)
print(type(y))
c =0b100 #for binary number system
print(type(c))
print(int("300",5))
print(int("1010",2))
print(int("12120",3))
print(int("1111111",2))
a = 0b1010 #binary
b = 0o170 #octal
print(a,b)
h = 2+3.14j #complex literal
print(h)
print(complex(3+84))
print (u'\u00dc \n nic\n')
print('Omega: \u03A9')
name = "rohit"
classes = "12/G"
adress="sec -4 G qno-241"
print(name,classes,adress)

<class 'str'>
<class 'float'>
3
3.0
<class 'float'>
<class 'int'>
75
10
150
127
10 120
(2+3.14j)
(87+0j)
Ü
 nic

Omega: Ω
rohit 12/G sec -4 G qno-241

In [ ]:
#my work
num= int(input("enter any four digit number:"))
sum=0
for i in str(num):
    sum += int(i)
print (sum)

enter any four digit number:5555
20

In [ ]:
#day 3 python class
print(ord("h"))
print(chr(100))
print(int(0x00dc))
print(int(0x012dc))
a = True
b = False
print(a + 100, b+100)
str_my = "rohit"
print(str_my [1])
print(str_my[-1])
print(str_my[1:4])
print(str_my[0:5:2])
print(str_my[5:0:-1])
print(str_my[::2])

104
d
220
4828
101 100
o
t
ohi
rht
tiho
rht

In [ ]:
#write a program to declare a string consisting  of all digits from 0-9 print all,odd,and even digits from the string
my_str = "0123456789"
print(my_str)
print(my_str[::2])#even
print(my_str[1:10:2])#odd
m_s = "sitnagpur"
print(m_s[-3:-5:-1])
print(m_s[5:2:-1])
#write a program to add two number
a = 3
b = 4
c = a+b
print(c)
#write a program to  input form user
username = str(input("please enter your name:"))
print("hello ",username)

0123456789
02468
13579
pg
gan
7
please enter your name:rohit
hello  rohit

In [ ]:
#day 4 python class
my_str="rohit mandal"
s1 = my_str.split()
s2 = my_str.split(sep = " ")
print(s1,s2)
my_str = "rohit$mandal"
s1 = my_str.split(sep = "$")
print(s1)
name = input("enter your name: ")
print("hello",name)
print(type(name))
name = input("enter your name:")
print("Hello",name.upper())
print("hello ",name.title())
y,x= input("enter two naumber: ").split()
print(int(x)+int(y))
#real number and perform it multplication
real1 = float(input("enter your real number1: "))
real2 = float(input("enter your real number2: "))
print(real1*real2)
#wap to get your name as input and print ascii value 
name = input("enter your name: ")
a = len(name)
print("name len =", a)
for i in range(int(a)):
    print(ord(name[i]))
print("thank you")

['rohit', 'mandal'] ['rohit', 'mandal']
['rohit', 'mandal']
enter your name: rohit
hello rohit
<class 'str'>
enter your name:rohit kumar mandal
Hello ROHIT KUMAR MANDAL
hello  Rohit Kumar Mandal
enter two naumber: 1 2
3
enter your real number1: 112
enter your real number2: 12.22
1368.64
enter your name: rohit
name len = 5
114
111
104
105
116
thank you

In [ ]:
name = input("enter your name: ")
a = len(name)
print("name len =", a)
for i in range(int(a)):
    print(ord(name[i]))
print("thank you")

enter your name: rohit
name len = 5
114
111
104
105
116
thank you

In [ ]:
ro706 = "hello rohit"
num = 100
text = "%s your marks: %d"%(ro706,num)
print(text)

hello rohit your marks: 100

In [ ]:
#home work
str_my = input("enter your name:")
print(str_my.isalpha())
print(str_my[0].isalpha())
print(str_my.isdigit())#1
print(str_my.isidentifier())#2
print(str_my.islower())#3
print(str_my.title().istitle())#4
print(str_my.istitle())#5
table = {110:97,122:98,117:None}
print(str_my.translate(table))#6
print(str_my.swapcase())#7
print(str_my.casefold())#8
print(str_my.capitalize())#9
print(str_my.endswith("mandal"))#10
print(str_my.startswith("rohit"))#11
print(str_my.zfill(7))#12
list1 =[1,2,3,4]
print(list1.index(2))#13
print(str_my.find("k"))#14
print(str_my.count("rohit"))#15
print(str_my.rfind("o"))#16
print(str_my.encode())#17
print(str_my.center(23))#18
print(str_my.center(20))#19
print(str_my.isdecimal())#20
print(str_my.isnumeric())#21

enter your name:rohit
True
True
False
True
True
True
False
rohit
ROHIT
rohit
Rohit
False
True
00rohit
1
-1
1
1
b'rohit'
         rohit
       rohit
False
False

In [ ]:
#list 
list1 =list(input("enter your letter list:"))
print(list1)
print(list1[1])
n = 0
for i in list1:
    print(list1[n])
    n +=1

enter your letter list:rohit
['r', 'o', 'h', 'i', 't']
o
r
o
h
i
t

In [ ]:
for i in range(00,100,2):
    print(i)
    if i  == 28:
      print("nice")
      break
    else:
      pass

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
nice

In [ ]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
print(months[6],"\n")
print(months[6:9],"\n")
print(months[0:11:2],"\n")
print(months[-12:-1])
print(months[-12:-1])
print(months[12:1:-1])
print(months[12:5:-1])
print(months[12:3:-1])
print(months[-1:-5:-1])
print(months[-12:-8:1],"\n")
list1=list(range(-4,10,2))
print("list1=",list1)
list2 =list(range(-6,6,1))
print("list2",list2)
print(list1+list2)
print(list2 * 2)
print(list1 in list2)
print(list1 not in list2 )
n = 0
list1.append(1)
print(list1)
list1.insert(0,11) #insert(indexnumber,element name or number)
print("list1 =",list1)
l=list1.sort()
print(sorted(list1,reverse=True))

July

['July', 'August', 'September']

['January', 'March', 'May', 'July', 'September', 'November']

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November']
['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November']
['December', 'November', 'October', 'September', 'August', 'July', 'June', 'May', 'April', 'March']
['December', 'November', 'October', 'September', 'August', 'July']
['December', 'November', 'October', 'September', 'August', 'July', 'June', 'May']
['December', 'November', 'October', 'September']
['January', 'February', 'March', 'April']

list1= [-4, -2, 0, 2, 4, 6, 8]
list2 [-6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
[-4, -2, 0, 2, 4, 6, 8, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
[-6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
False
True
[-4, -2, 0, 2, 4, 6, 8, 1]
list1 = [11, -4, -2, 0, 2, 4, 6, 8, 1]
[11, 8, 6, 4, 2, 1, 0, -2, -4]

In [ ]:
#to find the sum of 5 digit number
a = []
a.append(int(input("enter number 1:")))
a.append(int(input("enter number 2:")))
a.append(int(input("enter number 3:")))
a.append(int(input("enter number 4:")))
a.append(int(input("enter number 5:")))
sum = a[0]+a[1]+a[2]+a[3]+a[4]
print("sum=",sum)

enter number 1:1
enter number 2:2
enter number 3:3
enter number 4:4
enter number 5:5
sum= 15

In [ ]:
#1)to find the sum of 5 digit number
#2)to find weather arm is or not
#1)
a = b = int(input("enter any 5 digit number:"))
b = a%10
a = a//10
b1 = a%10
a = a//10
b2 = a%10
a = a//10
b3 = a%10
a = a//10
b4 = a%10
a =  a//10
print(b,b1,b2,b3,b4)
print('sum',b+b1+b2+b3+b4)

enter any 5 digit number:12345
5 4 3 2 1
sum 15

In [ ]:
a = b = int(input("enter any 3 digit number:"))
b = a%10
a = a//10
b1 = a%10
a = a//10
b2 = a%10
print(b**3+b1**3+b2**3)
print('armstrong number')

enter any 3 digit number:153
153
armstrong number

In [ ]:
num = int(input("enter number:"))
ans = 0
digits = len(str(num))
dup_number = num
while (dup_number != 0):
    remainder = dup_number % 10
    ans = ans + remainder**digits
    dup_number = dup_number//10
if(num == ans):
    print(num, "is Armstrong number")
else:
    print(num, "is not Armstrong number")

enter number:1234
1234 is not Armstrong number

In [ ]:
#day 6 python class
list1= ["CAT","DOG","TIGER","JAK","apple"]
print(sorted(list1,key=str.lower))
list1 =[[1,2,3,4],["rohit","riya","raj","khushi"],[36,37,32,33]]
print(list1)
print("list1 =",list1[0],"list2=",list1[1],"list3=",list1[2])
print(list1[0:3][0:3])
#tuple
t =(1,2,3,4,"three")
print(t)
print(type(t))
t = (1,2,3,4,5)
a,b,c,d,e = t
print(a,b,c,d)
for i in t:
    print(i)
del t
print("tuple is deleted successfully")
t = ("21-06-2004",["rohit","sager"])
r = ("21-06-2004",["rohit","sager"])
print(r == t)
print(id(r),id(t))
print(t is r)
t = r
print(r == t)
print(id(r),id(t))
print(t is r)
list1 = t[1]
list1.append("ro706")
print(t)
'''t[1]=[1,2,3]
print(t)'''
set1 = {1,2,3,4}
print(set1) 
set1.add(0)
set1.update([10,11,12,13])
print(set1)
set1.pop()
#set1.clear()
print(set1)
set1.remove(10)
print(set1)
set1.discard(0)
set2 = {1,2,3,0,10}
print(set2)

['apple', 'CAT', 'DOG', 'JAK', 'TIGER']
[[1, 2, 3, 4], ['rohit', 'riya', 'raj', 'khushi'], [36, 37, 32, 33]]
list1 = [1, 2, 3, 4] list2= ['rohit', 'riya', 'raj', 'khushi'] list3= [36, 37, 32, 33]
[[1, 2, 3, 4], ['rohit', 'riya', 'raj', 'khushi'], [36, 37, 32, 33]]
(1, 2, 3, 4, 'three')
<class 'tuple'>
1 2 3 4
1
2
3
4
5
tuple is deleted successfully
True
140707458691872 140707458437760
False
True
140707458691872 140707458691872
True
('21-06-2004', ['rohit', 'sager', 'ro706'])
{1, 2, 3, 4}
{0, 1, 2, 3, 4, 10, 11, 12, 13}
{1, 2, 3, 4, 10, 11, 12, 13}
{1, 2, 3, 4, 11, 12, 13}

In [ ]:
set1 = {1,2,3,4}
a= (1.0,(1,2,3),"hello")
set2=a
print(set1)
print(set2)

{1, 2, 3, 4}
(1.0, (1, 2, 3), 'hello')

In [ ]:
t1 = ()
t2 = (1,2,3)
t3 = (1,"hello",34)
print(t1)
print(t2)
print(t3)

()
(1, 2, 3)
(1, 'hello', 34)

In [ ]:
t1 = (3,46,"cat")
print(t1)
print(t1[0])
print(t1[1])
print(t1[2])

(3, 46, 'cat')
3
46
cat

In [ ]:
tuple1 = (0,1,2,3)
tuple2 = ("SIT","Nagpur")
tuple3 = tuple1 + tuple2
print("tuple1 \n",tuple1) 
print("tuple2 \n",tuple2)
print("tuple after concetnation \n",tuple3)

tuple1
 (0, 1, 2, 3)
tuple2
 ('SIT', 'Nagpur')
tuple after concetnation
 (0, 1, 2, 3, 'SIT', 'Nagpur')

In [ ]:
classroll = {"rohit":7,"aditya":24,"nishant":61,"anmol":23,"devanshu":22}
print(classroll)
classroll['rohit']=75
classroll['aditya'] = 92
classroll["nishant"]=125
classroll['anmol'] = 91
classroll['devanshu'] = 90
print(classroll)
print(classroll.keys())
print(classroll.values())
print(type(classroll))
print(1,2,3,4)
print(1,2,3,4, sep ="#" ,end="$")
print(1,2,3,4, sep =' ',end ="\n")
print(1,2,3,4, sep ="@",end="$",flush = True)
print("")
print("     *","    * *","   * * *","  * * * *",sep ="\n",end ="")

{'rohit': 7, 'aditya': 24, 'nishant': 61, 'anmol': 23, 'devanshu': 22}
{'rohit': 75, 'aditya': 92, 'nishant': 125, 'anmol': 91, 'devanshu': 90}
dict_keys(['rohit', 'aditya', 'nishant', 'anmol', 'devanshu'])
dict_values([75, 92, 125, 91, 90])
<class 'dict'>
1 2 3 4
1#2#3#4$1 2 3 4
1@2@3@4$
     *
    * *
   * * *
  * * * *

In [ ]:
#python class 8
x = 23
y = 82
print("two value are {1} and {0}".format(x,y))
print(f"two value are {x} and {y}")
''' 
arithmatic oprators : +,-,/,*,%,//,**[BODMAS]
comparison oprators : <,>,==,,!=,>=,<=
logical oprators : and ,or,not
bitwise oprator : !,&,~,^,>>,<<
'''
print(5<<3)
print(10 >> 2)
print(5&6)
letter = input('enter character:')
print('vowel') if letter in 'aeiou'else print('no vowel')

two value are 82 and 23
two value are 23 and 82
40
2
4
enter character:a
vowel

In [ ]:
#wap to check weather enter number is even or odd by using bitwise
num = int(input("enter num:"))
print('odd') if num&1== 1 else print("even")
#wap to fine the largest of two number

enter num:2
even

In [ ]:
num1 = int(input("enter num1:"))
num2 =int(input("enter num2"))
print("num1 is greater than num2") if num1 > num2 else print("num2 is graeter than num2")

enter num1:1
enter num22
num2 is graeter than num2

In [ ]:
num1 = int(input("enter num1:"))
num2 =int(input("enter num2:"))
num3 = int(input("enter num3:"))
a = 0
print("num1") if num1 > num2 or num1 > num3 else print("num3")

enter num1:10
enter num2:3
enter num3:5
num1

In [ ]:
num1 = int(input("enter num1:"))
num2 =int(input("enter num2:"))
num3 = int(input("enter num3:"))
a = num1 if num1 > num2 else num2
a = a if a > num3 else num3
print(a)

enter num1:1
enter num2:4
enter num3:2
4

In [ ]:
#wap to create list of 3 friend.check if amit is present in the list or not if amit is not in the list append/add amit in the list
friend = ["rohit","riya","aditya","nishant","aryan"]
print("add amit",friend.append('amit')) if "amit" not in friend else print('list',friend)
print(friend)

add amit None
['rohit', 'riya', 'aditya', 'nishant', 'aryan', 'amit']